REGEDIT4

[HKEY_CLASSES_ROOT\LibraryFolder\background\shellex\ContextMenuHandlers\TortoiseGit]
@="{10A0FDD2-B0C0-4CD4-A7AE-E594CE3B91C8}"

[HKEY_CLASSES_ROOT\LibraryLocation\shellex\ContextMenuHandlers\TortoiseGit]
@="{10A0FDD2-B0C0-4CD4-A7AE-E594CE3B91C8}"

[HKEY_CLASSES_ROOT\*\shellex\ContextMenuHandlers\TortoiseGit]
@="{10A0FDD2-B0C0-4CD4-A7AE-E594CE3B91C8}"

[HKEY_CLASSES_ROOT\*\shellex\PropertySheetHandlers\TortoiseGit]
@="{10A0FDD2-B0C0-4CD4-A7AE-E594CE3B91C8}"

[HKEY_CLASSES_ROOT\CLSID\{451C7E59-058F-450A-8C42-FE9A12A302FC}]
@="TortoiseGit"

[HKEY_CLASSES_ROOT\CLSID\{451C7E59-058F-450A-8C42-FE9A12A302FC}\InProcServer32]
@="%TGITHOME%\\bin\\TortoiseGitStub.dll"
"ThreadingModel"="Apartment"

[HKEY_CLASSES_ROOT\CLSID\{8DA7CDCB-DC0B-4246-80BD-812E942734AF}]
@="TortoiseGit"

[HKEY_CLASSES_ROOT\CLSID\{8DA7CDCB-DC0B-4246-80BD-812E942734AF}\InProcServer32]
@="%TGITHOME%\\bin\\TortoiseGitStub.dll"
"ThreadingModel"="Apartment"

[HKEY_CLASSES_ROOT\CLSID\{475A024D-6157-4E03-8C61-D1FA9806415C}]
@="TortoiseGit"

[HKEY_CLASSES_ROOT\CLSID\{475A024D-6157-4E03-8C61-D1FA9806415C}\InProcServer32]
@="%TGITHOME%\\bin\\TortoiseGitStub.dll"
"ThreadingModel"="Apartment"

[HKEY_CLASSES_ROOT\CLSID\{10A0FDD2-B0C0-4CD4-A7AE-E594CE3B91C8}]
@="TortoiseGit"

[HKEY_CLASSES_ROOT\CLSID\{10A0FDD2-B0C0-4CD4-A7AE-E594CE3B91C8}\InProcServer32]
@="%TGITHOME%\\bin\\TortoiseGitStub.dll"
"ThreadingModel"="Apartment"

[HKEY_CLASSES_ROOT\CLSID\{6A4800FA-13B4-4CB4-9A37-97E7FAEDA731}]
@="TortoiseGit"

[HKEY_CLASSES_ROOT\CLSID\{6A4800FA-13B4-4CB4-9A37-97E7FAEDA731}\InProcServer32]
@="%TGITHOME%\\bin\\TortoiseGitStub.dll"
"ThreadingModel"="Apartment"

[HKEY_CLASSES_ROOT\CLSID\{5F380D0B-EE64-479B-B2AD-EF437BF4B0A6}]
@="TortoiseGit"

[HKEY_CLASSES_ROOT\CLSID\{5F380D0B-EE64-479B-B2AD-EF437BF4B0A6}\InProcServer32]
@="%TGITHOME%\\bin\\TortoiseGitStub.dll"
"ThreadingModel"="Apartment"

[HKEY_CLASSES_ROOT\CLSID\{D69716CD-6993-4D0D-898F-5EBBC25C5D4D}]
@="TortoiseGit"

[HKEY_CLASSES_ROOT\CLSID\{D69716CD-6993-4D0D-898F-5EBBC25C5D4D}\InProcServer32]
@="%TGITHOME%\\bin\\TortoiseGitStub.dll"
"ThreadingModel"="Apartment"

[HKEY_CLASSES_ROOT\CLSID\{4E453CBA-2AAB-465C-A01E-627A7BE9ED73}]
@="TortoiseGit"

[HKEY_CLASSES_ROOT\CLSID\{4E453CBA-2AAB-465C-A01E-627A7BE9ED73}\InProcServer32]
@="%TGITHOME%\\bin\\TortoiseGitStub.dll"
"ThreadingModel"="Apartment"

[HKEY_CLASSES_ROOT\CLSID\{A38915E4-A460-4143-8D6B-0B45564C6A00}]
@="TortoiseGit"

[HKEY_CLASSES_ROOT\CLSID\{A38915E4-A460-4143-8D6B-0B45564C6A00}\InProcServer32]
@="%TGITHOME%\\bin\\TortoiseGitStub.dll"
"ThreadingModel"="Apartment"

[HKEY_CLASSES_ROOT\CLSID\{1B94B098-57C6-4C39-9DC5-8EB00E423D3E}]
@="TortoiseGit"

[HKEY_CLASSES_ROOT\CLSID\{1B94B098-57C6-4C39-9DC5-8EB00E423D3E}\InProcServer32]
@="%TGITHOME%\\bin\\TortoiseGitStub.dll"
"ThreadingModel"="Apartment"

[HKEY_CLASSES_ROOT\CLSID\{18BF1135-6EA2-405F-A71E-16EEE7F71F8B}]
@="TortoiseGit"

[HKEY_CLASSES_ROOT\CLSID\{18BF1135-6EA2-405F-A71E-16EEE7F71F8B}\InProcServer32]
@="%TGITHOME%\\bin\\TortoiseGitStub.dll"
"ThreadingModel"="Apartment"

[HKEY_CLASSES_ROOT\CLSID\{C5994560-53D9-4125-87C9-F193FC689CB2}]
@="TortoiseGit"

[HKEY_CLASSES_ROOT\CLSID\{C5994560-53D9-4125-87C9-F193FC689CB2}\InProcServer32]
@="%TGITHOME%\\Common\\TortoiseOverlays\\TortoiseOverlays.dll"
"ThreadingModel"="Apartment"

[HKEY_CLASSES_ROOT\CLSID\{C5994561-53D9-4125-87C9-F193FC689CB2}]
@="TortoiseGit"

[HKEY_CLASSES_ROOT\CLSID\{C5994561-53D9-4125-87C9-F193FC689CB2}\InProcServer32]
@="%TGITHOME%\\Common\\TortoiseOverlays\\TortoiseOverlays.dll"
"ThreadingModel"="Apartment"

[HKEY_CLASSES_ROOT\CLSID\{C5994562-53D9-4125-87C9-F193FC689CB2}]
@="TortoiseGit"

[HKEY_CLASSES_ROOT\CLSID\{C5994562-53D9-4125-87C9-F193FC689CB2}\InProcServer32]
@="%TGITHOME%\\Common\\TortoiseOverlays\\TortoiseOverlays.dll"
"ThreadingModel"="Apartment"

[HKEY_CLASSES_ROOT\CLSID\{C5994563-53D9-4125-87C9-F193FC689CB2}]
@="TortoiseGit"

[HKEY_CLASSES_ROOT\CLSID\{C5994563-53D9-4125-87C9-F193FC689CB2}\InProcServer32]
@="%TGITHOME%\\Common\\TortoiseOverlays\\TortoiseOverlays.dll"
"ThreadingModel"="Apartment"

[HKEY_CLASSES_ROOT\CLSID\{C5994564-53D9-4125-87C9-F193FC689CB2}]
@="TortoiseGit"

[HKEY_CLASSES_ROOT\CLSID\{C5994564-53D9-4125-87C9-F193FC689CB2}\InProcServer32]
@="%TGITHOME%\\Common\\TortoiseOverlays\\TortoiseOverlays.dll"
"ThreadingModel"="Apartment"

[HKEY_CLASSES_ROOT\CLSID\{C5994565-53D9-4125-87C9-F193FC689CB2}]
@="TortoiseGit"

[HKEY_CLASSES_ROOT\CLSID\{C5994565-53D9-4125-87C9-F193FC689CB2}\InProcServer32]
@="%TGITHOME%\\Common\\TortoiseOverlays\\TortoiseOverlays.dll"
"ThreadingModel"="Apartment"

[HKEY_CLASSES_ROOT\CLSID\{C5994566-53D9-4125-87C9-F193FC689CB2}]
@="TortoiseGit"

[HKEY_CLASSES_ROOT\CLSID\{C5994566-53D9-4125-87C9-F193FC689CB2}\InProcServer32]
@="%TGITHOME%\\Common\\TortoiseOverlays\\TortoiseOverlays.dll"
"ThreadingModel"="Apartment"

[HKEY_CLASSES_ROOT\CLSID\{C5994567-53D9-4125-87C9-F193FC689CB2}]
@="TortoiseGit"

[HKEY_CLASSES_ROOT\CLSID\{C5994567-53D9-4125-87C9-F193FC689CB2}\InProcServer32]
@="%TGITHOME%\\Common\\TortoiseOverlays\\TortoiseOverlays.dll"
"ThreadingModel"="Apartment"

[HKEY_CLASSES_ROOT\CLSID\{C5994568-53D9-4125-87C9-F193FC689CB2}]
@="TortoiseGit"

[HKEY_CLASSES_ROOT\CLSID\{C5994568-53D9-4125-87C9-F193FC689CB2}\InProcServer32]
@="%TGITHOME%\\Common\\TortoiseOverlays\\TortoiseOverlays.dll"
"ThreadingModel"="Apartment"

[HKEY_CLASSES_ROOT\CLSID\{9642A3D3-7425-49F6-8F75-6A001F716AED}]
@="GitWCRev Server Object"

[HKEY_CLASSES_ROOT\CLSID\{9642A3D3-7425-49F6-8F75-6A001F716AED}\LocalServer32]
@="%TGITHOME%\\bin\\GitWCRevCOM.exe /automation"

[HKEY_CLASSES_ROOT\CLSID\{9642A3D3-7425-49F6-8F75-6A001F716AED}\ProgID]
@="GitWCRev.object.1"

[HKEY_CLASSES_ROOT\CLSID\{9642A3D3-7425-49F6-8F75-6A001F716AED}\TypeLib]
@="{F2E334DC-2799-4961-9FCC-C324CB5FD205}"

[HKEY_CLASSES_ROOT\CLSID\{9642A3D3-7425-49F6-8F75-6A001F716AED}\VersionIndependentProgID]
@="GitWCRev.object"

[HKEY_CLASSES_ROOT\Directory\Background\shellex\ContextMenuHandlers\TortoiseGit]
@="{10A0FDD2-B0C0-4CD4-A7AE-E594CE3B91C8}"

[HKEY_CLASSES_ROOT\Directory\shellex\ContextMenuHandlers\TortoiseGit]
@="{10A0FDD2-B0C0-4CD4-A7AE-E594CE3B91C8}"

[HKEY_CLASSES_ROOT\Directory\shellex\CopyHookHandlers\TortoiseGit]
@="{10A0FDD2-B0C0-4CD4-A7AE-E594CE3B91C8}"

[HKEY_CLASSES_ROOT\Directory\shellex\DragDropHandlers\TortoiseGit]
@="{6A4800FA-13B4-4CB4-9A37-97E7FAEDA731}"

[HKEY_CLASSES_ROOT\Directory\shellex\PropertySheetHandlers\TortoiseGit]
@="{10A0FDD2-B0C0-4CD4-A7AE-E594CE3B91C8}"

[HKEY_CLASSES_ROOT\Drive\shellex\ContextMenuHandlers\TortoiseGit]
@="{10A0FDD2-B0C0-4CD4-A7AE-E594CE3B91C8}"

[HKEY_CLASSES_ROOT\Drive\shellex\PropertySheetHandlers\TortoiseGit]
@="{10A0FDD2-B0C0-4CD4-A7AE-E594CE3B91C8}"

[HKEY_CLASSES_ROOT\Folder\shellex\ContextMenuHandlers\TortoiseGit]
@="{10A0FDD2-B0C0-4CD4-A7AE-E594CE3B91C8}"

[HKEY_CLASSES_ROOT\Folder\shellex\DragDropHandlers\TortoiseGit]
@="{6A4800FA-13B4-4CB4-9A37-97E7FAEDA731}"

[HKEY_CLASSES_ROOT\Interface\{41886E22-73C4-49E8-8831-37F79CED16FE}]
@="IGitWCRev"

[HKEY_CLASSES_ROOT\Interface\{41886E22-73C4-49E8-8831-37F79CED16FE}\ProxyStubClsid]
@="{00020424-0000-0000-C000-000000000046}"

[HKEY_CLASSES_ROOT\Interface\{41886E22-73C4-49E8-8831-37F79CED16FE}\ProxyStubClsid32]
@="{00020424-0000-0000-C000-000000000046}"

[HKEY_CLASSES_ROOT\Interface\{41886E22-73C4-49E8-8831-37F79CED16FE}\TypeLib]
@="{F2E334DC-2799-4961-9FCC-C324CB5FD205}"
"Version"="1.0"

[HKEY_CLASSES_ROOT\Directory\shellex\ContextMenuHandlers\TortoiseGit]
@="{10A0FDD2-B0C0-4CD4-A7AE-E594CE3B91C8}"

[HKEY_CLASSES_ROOT\Directory\Background\shellex\ContextMenuHandlers\TortoiseGit]
@="{10A0FDD2-B0C0-4CD4-A7AE-E594CE3B91C8}"

[HKEY_CLASSES_ROOT\Directory\shellex\CopyHookHandlers\TortoiseGit]
@="{10A0FDD2-B0C0-4CD4-A7AE-E594CE3B91C8}"

[HKEY_CLASSES_ROOT\InternetShortcut\shellex\ContextMenuHandlers\TortoiseGit]
@="{10A0FDD2-B0C0-4CD4-A7AE-E594CE3B91C8}"

[HKEY_CLASSES_ROOT\lnkfile\shellex\ContextMenuHandlers\TortoiseGit]
@="{10A0FDD2-B0C0-4CD4-A7AE-E594CE3B91C8}"

[HKEY_CLASSES_ROOT\GitWCRev.object.1]
@="GitWCRev Server Object"

[HKEY_CLASSES_ROOT\GitWCRev.object.1\CLSID]
@="{9642A3D3-7425-49F6-8F75-6A001F716AED}"

[HKEY_CLASSES_ROOT\GitWCRev.object]
@="GitWCRev Server Object"

[HKEY_CLASSES_ROOT\GitWCRev.object\CLSID]
@="{9642A3D3-7425-49F6-8F75-6A001F716AED}"

[HKEY_CLASSES_ROOT\GitWCRev.object\CurVer]
@="GitWCRev.object.1"

[HKEY_CLASSES_ROOT\TypeLib\{F2E334DC-2799-4961-9FCC-C324CB5FD205}\1.0]
@="GitWCRev Type Library"

[HKEY_CLASSES_ROOT\TypeLib\{F2E334DC-2799-4961-9FCC-C324CB5FD205}\1.0\0\win32]
@="%TGITHOME%\\bin\\GitWCRevCOM.exe"

[HKEY_CLASSES_ROOT\TypeLib\{F2E334DC-2799-4961-9FCC-C324CB5FD205}\1.0\FLAGS]
@="0"

[HKEY_CLASSES_ROOT\TypeLib\{F2E334DC-2799-4961-9FCC-C324CB5FD205}\1.0\HELPDIR]
@="%TGITHOME%\\"

[HKEY_CURRENT_USER\Software\TortoiseGit]
"TortoiseGit"="TortoiseGit"
"TortoiseMerge"="TortoiseGitMerge"
"TortoiseIDiff"="TortoiseGitIDiff"

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\GitWCRev.exe]
"Path"="%TGITHOME%\\bin"
@="%TGITHOME%\\bin\\GitWCRev.exe"

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\1TortoiseNormal]
@="{C5994560-53D9-4125-87C9-F193FC689CB2}"

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\2TortoiseModified]
@="{C5994561-53D9-4125-87C9-F193FC689CB2}"

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\3TortoiseConflict]
@="{C5994562-53D9-4125-87C9-F193FC689CB2}"

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\4TortoiseLocked]
@="{C5994563-53D9-4125-87C9-F193FC689CB2}"

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\5TortoiseReadOnly]
@="{C5994564-53D9-4125-87C9-F193FC689CB2}"

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\6TortoiseDeleted]
@="{C5994565-53D9-4125-87C9-F193FC689CB2}"

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\7TortoiseAdded]
@="{C5994566-53D9-4125-87C9-F193FC689CB2}"

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\8TortoiseIgnored]
@="{C5994567-53D9-4125-87C9-F193FC689CB2}"

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\9TortoiseUnversioned]
@="{C5994568-53D9-4125-87C9-F193FC689CB2}"

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\Offline Files]
@="{750fdf0e-2a26-11d1-a3ea-080036587f03}"

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved]
"{475A024D-6157-4E03-8C61-D1FA9806415C}"="TortoiseGit"
"{8DA7CDCB-DC0B-4246-80BD-812E942734AF}"="TortoiseGit"
"{6A4800FA-13B4-4CB4-9A37-97E7FAEDA731}"="TortoiseGit"
"{D69716CD-6993-4D0D-898F-5EBBC25C5D4D}"="TortoiseGit"
"{6A4800FA-13B4-4CB4-9A37-97E7FAEDA731}"="TortoiseGit"
"{10A0FDD2-B0C0-4CD4-A7AE-E594CE3B91C8}"="TortoiseGit"
"{5F380D0B-EE64-479B-B2AD-EF437BF4B0A6}"="TortoiseGit"
"{4E453CBA-2AAB-465C-A01E-627A7BE9ED73}"="TortoiseGit"
"{A38915E4-A460-4143-8D6B-0B45564C6A00}"="TortoiseGit"
"{1B94B098-57C6-4C39-9DC5-8EB00E423D3E}"="TortoiseGit"
"{18BF1135-6EA2-405F-A71E-16EEE7F71F8B}"="TortoiseGit"
"{C5994560-53D9-4125-87C9-F193FC689CB2}"="TortoiseOverlays"
"{C5994561-53D9-4125-87C9-F193FC689CB2}"="TortoiseOverlays"
"{C5994562-53D9-4125-87C9-F193FC689CB2}"="TortoiseOverlays"
"{C5994563-53D9-4125-87C9-F193FC689CB2}"="TortoiseOverlays"
"{C5994564-53D9-4125-87C9-F193FC689CB2}"="TortoiseOverlays"
"{C5994565-53D9-4125-87C9-F193FC689CB2}"="TortoiseOverlays"
"{C5994566-53D9-4125-87C9-F193FC689CB2}"="TortoiseOverlays"
"{C5994567-53D9-4125-87C9-F193FC689CB2}"="TortoiseOverlays"
"{C5994568-53D9-4125-87C9-F193FC689CB2}"="TortoiseOverlays"

[HKEY_LOCAL_MACHINE\SOFTWARE\TortoiseOverlays]
"NormalIcon"="%TGITHOME%\\Common\\TortoiseOverlays\\icons\\XPStyle\\NormalIcon.ico"
"ModifiedIcon"="%TGITHOME%\\Common\\TortoiseOverlays\\icons\\XPStyle\\ModifiedIcon.ico"
"ConflictIcon"="%TGITHOME%\\Common\\TortoiseOverlays\\icons\\XPStyle\\ConflictIcon.ico"
"DeletedIcon"="%TGITHOME%\\Common\\TortoiseOverlays\\icons\\XPStyle\\DeletedIcon.ico"
"ReadOnlyIcon"="%TGITHOME%\\Common\\TortoiseOverlays\\icons\\XPStyle\\ReadOnlyIcon.ico"
"LockedIcon"="%TGITHOME%\\Common\\TortoiseOverlays\\icons\\XPStyle\\LockedIcon.ico"
"AddedIcon"="%TGITHOME%\\Common\\TortoiseOverlays\\icons\\XPStyle\\AddedIcon.ico"
"IgnoredIcon"="%TGITHOME%\\Common\\TortoiseOverlays\\icons\\XPStyle\\IgnoredIcon.ico"
"UnversionedIcon"="%TGITHOME%\\Common\\TortoiseOverlays\\icons\\XPStyle\\UnversionedIcon.ico"

[HKEY_LOCAL_MACHINE\SOFTWARE\TortoiseOverlays\Added]
"Git"="{A38915E4-A460-4143-8D6B-0B45564C6A00}"

[HKEY_LOCAL_MACHINE\SOFTWARE\TortoiseOverlays\Conflict]
"Git"="{475A024D-6157-4E03-8C61-D1FA9806415C}"

[HKEY_LOCAL_MACHINE\SOFTWARE\TortoiseOverlays\Deleted]
"Git"="{D69716CD-6993-4D0D-898F-5EBBC25C5D4D}"

[HKEY_LOCAL_MACHINE\SOFTWARE\TortoiseOverlays\Ignored]
"Git"="{1B94B098-57C6-4C39-9DC5-8EB00E423D3E}"

[HKEY_LOCAL_MACHINE\SOFTWARE\TortoiseOverlays\Locked]
"Git"="{4E453CBA-2AAB-465C-A01E-627A7BE9ED73}"

[HKEY_LOCAL_MACHINE\SOFTWARE\TortoiseOverlays\Modified]
"Git"="{8DA7CDCB-DC0B-4246-80BD-812E942734AF}"

[HKEY_LOCAL_MACHINE\SOFTWARE\TortoiseOverlays\Normal]
"Git"="{451C7E59-058F-450A-8C42-FE9A12A302FC}"

[HKEY_LOCAL_MACHINE\SOFTWARE\TortoiseOverlays\ReadOnly]
"SVN"="{5F380D0B-EE64-479B-B2AD-EF437BF4B0A6}"

[HKEY_LOCAL_MACHINE\SOFTWARE\TortoiseOverlays\Unversioned]
"Git"="{18BF1135-6EA2-405F-A71E-16EEE7F71F8B}"

[HKEY_LOCAL_MACHINE\SOFTWARE\TortoiseGit]
"ProcPath"="%TGITHOME%\\bin\\TortoiseGitProc.exe"
"CachePath"="%TGITHOME%\\bin\\TGitCache.exe"
"TMergePath"="%TGITHOME%\\bin\\TortoiseGitMerge.exe"
"Directory"="%TGITHOME%\\"
