# Set default behavior to automatically normalize line endings.
# If Git decides that the content is text, its line endings will be normalized to CRLF in the working tree on checkout.
# In the Git index/repository the files will always be stored with LF.
* text=auto eol=crlf

# Tell Git that these files are definitely text.
*.reg  text
*.ps1  text
*.json text
*.yml  text
*.yaml text
*.txt  text
*.md   text
