# Set default behavior to automatically normalize line endings.
# If Git decides that the content is text, its line endings are normalized to LF on checkin.
# When the file has been committed with CRLF, no conversion is done.
* text=auto

# Force Windows specific files to always use CRLF line endings.
*.reg text eol=crlf
*.ps1 text eol=crlf
