version: "{build}-{branch}"
branches:
  except:
    - gh-pages
build: off
deploy: off
clone_depth: 2
image: Visual Studio 2019
environment:
  scoop: C:\projects\scoop
  scoop_home: C:\projects\scoop
  scoop_helpers: C:\projects\helpers
  lessmsi: '%scoop_helpers%\lessmsi\lessmsi.exe'
  innounp: '%scoop_helpers%\innounp\innounp.exe'
  matrix:
    - PowerShell: 5
    - PowerShell: Current
cache:
  - '%USERPROFILE%\Documents\WindowsPowerShell\Modules -> appveyor.yml'
  - C:\projects\helpers  -> appveyor.yml, test\bin\*.ps1
matrix:
  fast_finish: true
init:
  - ps: if(!(Test-Path "$env:SCOOP")) { git clone -q --depth=1 "https://github.com/ScoopInstaller/Scoop" "$env:SCOOP" }
for:
  - matrix:
      only:
        - PowerShell: 5
    install:
      - ps: . "$env:SCOOP_HOME\test\bin\init.ps1"
    test_script:
      - ps: . "$env:SCOOP_HOME\test\bin\test.ps1" -TestPath "$env:APPVEYOR_BUILD_FOLDER"
  - matrix:
      only:
        - PowerShell: Current
    install:
      - pwsh: . "$env:SCOOP_HOME\test\bin\init.ps1"
    test_script:
      - pwsh: . "$env:SCOOP_HOME\test\bin\test.ps1" -TestPath "$env:APPVEYOR_BUILD_FOLDER"
