Windows Registry Editor Version 5.00

[-$key\Software\Classes\*\shell\Open with &Code]
[-$key\Software\Classes\*\shell\Open with &Code\command]
[-$key\Software\Classes\Directory\shell\Open with &Code]
[-$key\Software\Classes\Directory\shell\Open with &Code\command]
[-$key\Software\Classes\Directory\Background\shell\Open with &Code]
[-$key\Software\Classes\Directory\Background\shell\Open with &Code\command]
