REGEDIT4

[HKEY_CLASSES_ROOT\LibraryFolder\background\shellex\ContextMenuHandlers\TortoiseSVN]
@="{30351349-7B7D-4FCC-81B4-1E394CA267EB}"

[HKEY_CLASSES_ROOT\LibraryLocation\shellex\ContextMenuHandlers\TortoiseSVN]
@="{30351349-7B7D-4FCC-81B4-1E394CA267EB}"

[HKEY_CLASSES_ROOT\*\shellex\ContextMenuHandlers\TortoiseSVN]
@="{30351349-7B7D-4FCC-81B4-1E394CA267EB}"

[HKEY_CLASSES_ROOT\*\shellex\PropertySheetHandlers\TortoiseSVN]
@="{30351349-7B7D-4FCC-81B4-1E394CA267EB}"

[HKEY_CLASSES_ROOT\.diff]
@="unified_diff_file"

[HKEY_CLASSES_ROOT\.patch]
@="unified_diff_file"

[HKEY_CLASSES_ROOT\CLSID\{30351346-7B7D-4FCC-81B4-1E394CA267EB}]
@="TortoiseSVN"

[HKEY_CLASSES_ROOT\CLSID\{30351346-7B7D-4FCC-81B4-1E394CA267EB}\InProcServer32]
@="%TSVNHOME%\\bin\\TortoiseStub.dll"
"ThreadingModel"="Apartment"

[HKEY_CLASSES_ROOT\CLSID\{30351346-7B7D-4FCC-81B4-1E394CA267EB}\shellex\NoRecentDocs]

[HKEY_CLASSES_ROOT\CLSID\{30351347-7B7D-4FCC-81B4-1E394CA267EB}]
@="TortoiseSVN"

[HKEY_CLASSES_ROOT\CLSID\{30351347-7B7D-4FCC-81B4-1E394CA267EB}\InProcServer32]
@="%TSVNHOME%\\bin\\TortoiseStub.dll"
"ThreadingModel"="Apartment"

[HKEY_CLASSES_ROOT\CLSID\{30351347-7B7D-4FCC-81B4-1E394CA267EB}\shellex\NoRecentDocs]

[HKEY_CLASSES_ROOT\CLSID\{30351348-7B7D-4FCC-81B4-1E394CA267EB}]
@="TortoiseSVN"

[HKEY_CLASSES_ROOT\CLSID\{30351348-7B7D-4FCC-81B4-1E394CA267EB}\InProcServer32]
"ThreadingModel"="Apartment"
@="%TSVNHOME%\\bin\\TortoiseStub.dll"

[HKEY_CLASSES_ROOT\CLSID\{30351348-7B7D-4FCC-81B4-1E394CA267EB}\shellex\NoRecentDocs]

[HKEY_CLASSES_ROOT\CLSID\{30351349-7B7D-4FCC-81B4-1E394CA267EB}]
@="TortoiseSVN"

[HKEY_CLASSES_ROOT\CLSID\{30351349-7B7D-4FCC-81B4-1E394CA267EB}\InProcServer32]
"ThreadingModel"="Apartment"
@="%TSVNHOME%\\bin\\TortoiseStub.dll"

[HKEY_CLASSES_ROOT\CLSID\{30351349-7B7D-4FCC-81B4-1E394CA267EB}\shellex\NoRecentDocs]

[HKEY_CLASSES_ROOT\CLSID\{3035134A-7B7D-4FCC-81B4-1E394CA267EB}]
@="TortoiseSVN"

[HKEY_CLASSES_ROOT\CLSID\{3035134A-7B7D-4FCC-81B4-1E394CA267EB}\InProcServer32]
"ThreadingModel"="Apartment"
@="%TSVNHOME%\\bin\\TortoiseStub.dll"

[HKEY_CLASSES_ROOT\CLSID\{3035134A-7B7D-4FCC-81B4-1E394CA267EB}\shellex\NoRecentDocs]

[HKEY_CLASSES_ROOT\CLSID\{3035134B-7B7D-4FCC-81B4-1E394CA267EB}]
@="TortoiseSVN"

[HKEY_CLASSES_ROOT\CLSID\{3035134B-7B7D-4FCC-81B4-1E394CA267EB}\InProcServer32]
@="%TSVNHOME%\\bin\\TortoiseStub.dll"
"ThreadingModel"="Apartment"

[HKEY_CLASSES_ROOT\CLSID\{3035134B-7B7D-4FCC-81B4-1E394CA267EB}\shellex\NoRecentDocs]

[HKEY_CLASSES_ROOT\CLSID\{3035134C-7B7D-4FCC-81B4-1E394CA267EB}]
@="TortoiseSVN"

[HKEY_CLASSES_ROOT\CLSID\{3035134C-7B7D-4FCC-81B4-1E394CA267EB}\InProcServer32]
@="%TSVNHOME%\\bin\\TortoiseStub.dll"
"ThreadingModel"="Apartment"

[HKEY_CLASSES_ROOT\CLSID\{3035134C-7B7D-4FCC-81B4-1E394CA267EB}\shellex\NoRecentDocs]

[HKEY_CLASSES_ROOT\CLSID\{3035134D-7B7D-4FCC-81B4-1E394CA267EB}]
@="TortoiseSVN"

[HKEY_CLASSES_ROOT\CLSID\{3035134D-7B7D-4FCC-81B4-1E394CA267EB}\InProcServer32]
@="%TSVNHOME%\\bin\\TortoiseStub.dll"
"ThreadingModel"="Apartment"

[HKEY_CLASSES_ROOT\CLSID\{3035134D-7B7D-4FCC-81B4-1E394CA267EB}\shellex\NoRecentDocs]

[HKEY_CLASSES_ROOT\CLSID\{3035134E-7B7D-4FCC-81B4-1E394CA267EB}]
@="TortoiseSVN"

[HKEY_CLASSES_ROOT\CLSID\{3035134E-7B7D-4FCC-81B4-1E394CA267EB}\InProcServer32]
@="%TSVNHOME%\\bin\\TortoiseStub.dll"
"ThreadingModel"="Apartment"

[HKEY_CLASSES_ROOT\CLSID\{3035134E-7B7D-4FCC-81B4-1E394CA267EB}\shellex\NoRecentDocs]

[HKEY_CLASSES_ROOT\CLSID\{3035134F-7B7D-4FCC-81B4-1E394CA267EB}]
@="TortoiseSVN"

[HKEY_CLASSES_ROOT\CLSID\{3035134F-7B7D-4FCC-81B4-1E394CA267EB}\InProcServer32]
"ThreadingModel"="Apartment"
@="%TSVNHOME%\\bin\\TortoiseStub.dll"

[HKEY_CLASSES_ROOT\CLSID\{3035134F-7B7D-4FCC-81B4-1E394CA267EB}\shellex\NoRecentDocs]

[HKEY_CLASSES_ROOT\CLSID\{30351350-7B7D-4FCC-81B4-1E394CA267EB}]
@="TortoiseSVN"

[HKEY_CLASSES_ROOT\CLSID\{30351350-7B7D-4FCC-81B4-1E394CA267EB}\InProcServer32]
"ThreadingModel"="Apartment"
@="%TSVNHOME%\\bin\\TortoiseStub.dll"

[HKEY_CLASSES_ROOT\CLSID\{30351350-7B7D-4FCC-81B4-1E394CA267EB}\shellex\NoRecentDocs]

[HKEY_CLASSES_ROOT\CLSID\{C5994560-53D9-4125-87C9-F193FC689CB2}]
@="TortoiseSVN"

[HKEY_CLASSES_ROOT\CLSID\{C5994560-53D9-4125-87C9-F193FC689CB2}\InProcServer32]
@="%TSVNHOME%\\Common\\TortoiseOverlays\\TortoiseOverlays.dll"
"ThreadingModel"="Apartment"

[HKEY_CLASSES_ROOT\CLSID\{C5994561-53D9-4125-87C9-F193FC689CB2}]
@="TortoiseSVN"

[HKEY_CLASSES_ROOT\CLSID\{C5994561-53D9-4125-87C9-F193FC689CB2}\InProcServer32]
@="%TSVNHOME%\\Common\\TortoiseOverlays\\TortoiseOverlays.dll"
"ThreadingModel"="Apartment"

[HKEY_CLASSES_ROOT\CLSID\{C5994562-53D9-4125-87C9-F193FC689CB2}]
@="TortoiseSVN"

[HKEY_CLASSES_ROOT\CLSID\{C5994562-53D9-4125-87C9-F193FC689CB2}\InProcServer32]
@="%TSVNHOME%\\Common\\TortoiseOverlays\\TortoiseOverlays.dll"
"ThreadingModel"="Apartment"

[HKEY_CLASSES_ROOT\CLSID\{C5994563-53D9-4125-87C9-F193FC689CB2}]
@="TortoiseSVN"

[HKEY_CLASSES_ROOT\CLSID\{C5994563-53D9-4125-87C9-F193FC689CB2}\InProcServer32]
@="%TSVNHOME%\\Common\\TortoiseOverlays\\TortoiseOverlays.dll"
"ThreadingModel"="Apartment"

[HKEY_CLASSES_ROOT\CLSID\{C5994564-53D9-4125-87C9-F193FC689CB2}]
@="TortoiseSVN"

[HKEY_CLASSES_ROOT\CLSID\{C5994564-53D9-4125-87C9-F193FC689CB2}\InProcServer32]
@="%TSVNHOME%\\Common\\TortoiseOverlays\\TortoiseOverlays.dll"
"ThreadingModel"="Apartment"

[HKEY_CLASSES_ROOT\CLSID\{C5994565-53D9-4125-87C9-F193FC689CB2}]
@="TortoiseSVN"

[HKEY_CLASSES_ROOT\CLSID\{C5994565-53D9-4125-87C9-F193FC689CB2}\InProcServer32]
@="%TSVNHOME%\\Common\\TortoiseOverlays\\TortoiseOverlays.dll"
"ThreadingModel"="Apartment"

[HKEY_CLASSES_ROOT\CLSID\{C5994566-53D9-4125-87C9-F193FC689CB2}]
@="TortoiseSVN"

[HKEY_CLASSES_ROOT\CLSID\{C5994566-53D9-4125-87C9-F193FC689CB2}\InProcServer32]
@="%TSVNHOME%\\Common\\TortoiseOverlays\\TortoiseOverlays.dll"
"ThreadingModel"="Apartment"

[HKEY_CLASSES_ROOT\CLSID\{C5994567-53D9-4125-87C9-F193FC689CB2}]
@="TortoiseSVN"

[HKEY_CLASSES_ROOT\CLSID\{C5994567-53D9-4125-87C9-F193FC689CB2}\InProcServer32]
@="%TSVNHOME%\\Common\\TortoiseOverlays\\TortoiseOverlays.dll"
"ThreadingModel"="Apartment"

[HKEY_CLASSES_ROOT\CLSID\{C5994568-53D9-4125-87C9-F193FC689CB2}]
@="TortoiseSVN"

[HKEY_CLASSES_ROOT\CLSID\{C5994568-53D9-4125-87C9-F193FC689CB2}\InProcServer32]
@="%TSVNHOME%\\Common\\TortoiseOverlays\\TortoiseOverlays.dll"
"ThreadingModel"="Apartment"

[HKEY_CLASSES_ROOT\CLSID\{F26E2640-0CFF-43DC-8325-575A3261D885}]
@="SubWCRev Server Object"

[HKEY_CLASSES_ROOT\CLSID\{F26E2640-0CFF-43DC-8325-575A3261D885}\LocalServer32]
@="%TSVNHOME%\\bin\\SubWCRevCOM.exe /automation"

[HKEY_CLASSES_ROOT\CLSID\{F26E2640-0CFF-43DC-8325-575A3261D885}\ProgID]
@="SubWCRev.object.1"

[HKEY_CLASSES_ROOT\CLSID\{F26E2640-0CFF-43DC-8325-575A3261D885}\TypeLib]
@="{40ACF49D-74FF-4165-94E9-0E002C448520}"

[HKEY_CLASSES_ROOT\CLSID\{F26E2640-0CFF-43DC-8325-575A3261D885}\VersionIndependentProgID]
@="SubWCRev.object"

[HKEY_CLASSES_ROOT\Directory\Background\shellex\ContextMenuHandlers\TortoiseSVN]
@="{30351349-7B7D-4FCC-81B4-1E394CA267EB}"

[HKEY_CLASSES_ROOT\Directory\shellex\ContextMenuHandlers\TortoiseSVN]
@="{30351349-7B7D-4FCC-81B4-1E394CA267EB}"

[HKEY_CLASSES_ROOT\Directory\shellex\CopyHookHandlers\TortoiseSVN]
@="{30351349-7B7D-4FCC-81B4-1E394CA267EB}"

[HKEY_CLASSES_ROOT\Directory\shellex\DragDropHandlers\TortoiseSVN]
@="{3035134A-7B7D-4FCC-81B4-1E394CA267EB}"

[HKEY_CLASSES_ROOT\Directory\shellex\PropertySheetHandlers\TortoiseSVN]
@="{30351349-7B7D-4FCC-81B4-1E394CA267EB}"

[HKEY_CLASSES_ROOT\Drive\shellex\ContextMenuHandlers\TortoiseSVN]
@="{30351349-7B7D-4FCC-81B4-1E394CA267EB}"

[HKEY_CLASSES_ROOT\Drive\shellex\PropertySheetHandlers\TortoiseSVN]
@="{30351349-7B7D-4FCC-81B4-1E394CA267EB}"

[HKEY_CLASSES_ROOT\Folder\shellex\ColumnHandlers\{30351349-7B7D-4FCC-81B4-1E394CA267EB}]

[HKEY_CLASSES_ROOT\Folder\shellex\ContextMenuHandlers\TortoiseSVN]
@="{30351349-7B7D-4FCC-81B4-1E394CA267EB}"

[HKEY_CLASSES_ROOT\Folder\shellex\DragDropHandlers\TortoiseSVN]
@="{3035134A-7B7D-4FCC-81B4-1E394CA267EB}"

[HKEY_CLASSES_ROOT\Interface\{2F5EA5B0-4DE7-4f96-8E6B-FC0C37D9C0D6}]
@="ISubWCRev"

[HKEY_CLASSES_ROOT\Interface\{2F5EA5B0-4DE7-4f96-8E6B-FC0C37D9C0D6}\ProxyStubClsid]
@="{00020424-0000-0000-C000-000000000046}"

[HKEY_CLASSES_ROOT\Interface\{2F5EA5B0-4DE7-4f96-8E6B-FC0C37D9C0D6}\ProxyStubClsid32]
@="{00020424-0000-0000-C000-000000000046}"

[HKEY_CLASSES_ROOT\Interface\{2F5EA5B0-4DE7-4f96-8E6B-FC0C37D9C0D6}\TypeLib]
@="{40ACF49D-74FF-4165-94E9-0E002C448520}"
"Version"="1.0"

[HKEY_CLASSES_ROOT\InternetShortcut\shellex\ContextMenuHandlers\TortoiseSVN]
@="{30351349-7B7D-4FCC-81B4-1E394CA267EB}"

[HKEY_CLASSES_ROOT\lnkfile\shellex\ContextMenuHandlers\TortoiseSVN]
@="{30351349-7B7D-4FCC-81B4-1E394CA267EB}"

[HKEY_CLASSES_ROOT\SubWCRev.object.1]
@="SubWCRev Server Object"

[HKEY_CLASSES_ROOT\SubWCRev.object.1\CLSID]
@="{F26E2640-0CFF-43DC-8325-575A3261D885}"

[HKEY_CLASSES_ROOT\SubWCRev.object]
@="SubWCRev Server Object"

[HKEY_CLASSES_ROOT\SubWCRev.object\CLSID]
@="{F26E2640-0CFF-43DC-8325-575A3261D885}"

[HKEY_CLASSES_ROOT\SubWCRev.object\CurVer]
@="SubWCRev.object.1"

[HKEY_CLASSES_ROOT\svn+ssh]
@="URL:SVN+SSH Protocol"
"URL Protocol"=""

[HKEY_CLASSES_ROOT\svn+ssh\DefaultIcon]
@="%TSVNHOME%\\bin\\TortoiseProc.exe"

[HKEY_CLASSES_ROOT\svn+ssh\shell\open\command]
@="%TSVNHOME%\\bin\\TortoiseProc.exe /command:repobrowser /path:\"%1\""

[HKEY_CLASSES_ROOT\svn]
@="URL:SVN Protocol"
"URL Protocol"=""

[HKEY_CLASSES_ROOT\svn\DefaultIcon]
@="%TSVNHOME%\\bin\\TortoiseProc.exe"

[HKEY_CLASSES_ROOT\svn\shell\open\command]
@="%TSVNHOME%\\bin\\TortoiseProc.exe /command:repobrowser /path:\"%1\""

[HKEY_CLASSES_ROOT\tsvn]
@="URL:TSVN Protocol"
"URL Protocol"=""

[HKEY_CLASSES_ROOT\tsvn\DefaultIcon]
@="%TSVNHOME%\\bin\\TortoiseProc.exe"

[HKEY_CLASSES_ROOT\tsvn\shell\open\command]
@="%TSVNHOME%\\bin\\TortoiseProc.exe /command:checkout /url:\"%1\""

[HKEY_CLASSES_ROOT\TypeLib\{40ACF49D-74FF-4165-94E9-0E002C448520}\1.0]
@="LibSubWCRev"

[HKEY_CLASSES_ROOT\TypeLib\{40ACF49D-74FF-4165-94E9-0E002C448520}\1.0\0\win32]
@="%TSVNHOME%\\bin\\SubWCRevCOM.exe"

[HKEY_CLASSES_ROOT\TypeLib\{40ACF49D-74FF-4165-94E9-0E002C448520}\FLAGS]
@="0"

[HKEY_CLASSES_ROOT\TypeLib\{40ACF49D-74FF-4165-94E9-0E002C448520}\HELPDIR]
@="%TSVNHOME%\\"

[HKEY_CLASSES_ROOT\unified_diff_file\shell\open\command]
@="%TSVNHOME%\\bin\\TortoiseUDiff.exe /patchfile:\"%1\""

[HKEY_CURRENT_USER\Software\TortoiseSVN]
"SoundUtils KeyPath"="keypath"
"TortoiseSVN"="TortoiseSVN"
"TortoiseMerge"="TortoiseMerge"
"TortoiseIDiff"="TortoiseIDiff"

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\SubWCRev.exe]
"Path"="%TSVNHOME%\\bin"
@="%TSVNHOME%\\bin\\SubWCRev.exe"

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\1TortoiseNormal]
@="{C5994560-53D9-4125-87C9-F193FC689CB2}"

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\2TortoiseModified]
@="{C5994561-53D9-4125-87C9-F193FC689CB2}"

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\3TortoiseConflict]
@="{C5994562-53D9-4125-87C9-F193FC689CB2}"

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\4TortoiseLocked]
@="{C5994563-53D9-4125-87C9-F193FC689CB2}"

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\5TortoiseReadOnly]
@="{C5994564-53D9-4125-87C9-F193FC689CB2}"

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\6TortoiseDeleted]
@="{C5994565-53D9-4125-87C9-F193FC689CB2}"

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\7TortoiseAdded]
@="{C5994566-53D9-4125-87C9-F193FC689CB2}"

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\8TortoiseIgnored]
@="{C5994567-53D9-4125-87C9-F193FC689CB2}"

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\9TortoiseUnversioned]
@="{C5994568-53D9-4125-87C9-F193FC689CB2}"

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\Offline Files]
@="{750fdf0e-2a26-11d1-a3ea-080036587f03}"

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved]
"{30351348-7B7D-4FCC-81B4-1E394CA267EB}"="TortoiseSVN"
"{30351347-7B7D-4FCC-81B4-1E394CA267EB}"="TortoiseSVN"
"{3035134A-7B7D-4FCC-81B4-1E394CA267EB}"="TortoiseSVN"
"{3035134C-7B7D-4FCC-81B4-1E394CA267EB}"="TortoiseSVN"
"{30351346-7B7D-4FCC-81B4-1E394CA267EB}"="TortoiseSVN"
"{30351349-7B7D-4FCC-81B4-1E394CA267EB}"="TortoiseSVN"
"{3035134B-7B7D-4FCC-81B4-1E394CA267EB}"="TortoiseSVN"
"{3035134D-7B7D-4FCC-81B4-1E394CA267EB}"="TortoiseSVN"
"{3035134E-7B7D-4FCC-81B4-1E394CA267EB}"="TortoiseSVN"
"{3035134F-7B7D-4FCC-81B4-1E394CA267EB}"="TortoiseSVN"
"{30351350-7B7D-4FCC-81B4-1E394CA267EB}"="TortoiseSVN"
"{C5994560-53D9-4125-87C9-F193FC689CB2}"="TortoiseOverlays"
"{C5994561-53D9-4125-87C9-F193FC689CB2}"="TortoiseOverlays"
"{C5994562-53D9-4125-87C9-F193FC689CB2}"="TortoiseOverlays"
"{C5994563-53D9-4125-87C9-F193FC689CB2}"="TortoiseOverlays"
"{C5994564-53D9-4125-87C9-F193FC689CB2}"="TortoiseOverlays"
"{C5994565-53D9-4125-87C9-F193FC689CB2}"="TortoiseOverlays"
"{C5994566-53D9-4125-87C9-F193FC689CB2}"="TortoiseOverlays"
"{C5994567-53D9-4125-87C9-F193FC689CB2}"="TortoiseOverlays"
"{C5994568-53D9-4125-87C9-F193FC689CB2}"="TortoiseOverlays"

[HKEY_LOCAL_MACHINE\SOFTWARE\TortoiseOverlays]
"NormalIcon"="%TSVNHOME%\\Common\\TortoiseOverlays\\icons\\XPStyle\\NormalIcon.ico"
"ModifiedIcon"="%TSVNHOME%\\Common\\TortoiseOverlays\\icons\\XPStyle\\ModifiedIcon.ico"
"ConflictIcon"="%TSVNHOME%\\Common\\TortoiseOverlays\\icons\\XPStyle\\ConflictIcon.ico"
"DeletedIcon"="%TSVNHOME%\\Common\\TortoiseOverlays\\icons\\XPStyle\\DeletedIcon.ico"
"ReadOnlyIcon"="%TSVNHOME%\\Common\\TortoiseOverlays\\icons\\XPStyle\\ReadOnlyIcon.ico"
"LockedIcon"="%TSVNHOME%\\Common\\TortoiseOverlays\\icons\\XPStyle\\LockedIcon.ico"
"AddedIcon"="%TSVNHOME%\\Common\\TortoiseOverlays\\icons\\XPStyle\\AddedIcon.ico"
"IgnoredIcon"="%TSVNHOME%\\Common\\TortoiseOverlays\\icons\\XPStyle\\IgnoredIcon.ico"
"UnversionedIcon"="%TSVNHOME%\\Common\\TortoiseOverlays\\icons\\XPStyle\\UnversionedIcon.ico"

[HKEY_LOCAL_MACHINE\SOFTWARE\TortoiseOverlays\Added]
"SVN"="{3035134E-7B7D-4FCC-81B4-1E394CA267EB}"

[HKEY_LOCAL_MACHINE\SOFTWARE\TortoiseOverlays\Conflict]
"SVN"="{30351348-7B7D-4FCC-81B4-1E394CA267EB}"

[HKEY_LOCAL_MACHINE\SOFTWARE\TortoiseOverlays\Deleted]
"SVN"="{3035134C-7B7D-4FCC-81B4-1E394CA267EB}"

[HKEY_LOCAL_MACHINE\SOFTWARE\TortoiseOverlays\Ignored]
"SVN"="{3035134F-7B7D-4FCC-81B4-1E394CA267EB}"

[HKEY_LOCAL_MACHINE\SOFTWARE\TortoiseOverlays\Locked]
"SVN"="{3035134D-7B7D-4FCC-81B4-1E394CA267EB}"

[HKEY_LOCAL_MACHINE\SOFTWARE\TortoiseOverlays\Modified]
"SVN"="{30351347-7B7D-4FCC-81B4-1E394CA267EB}"

[HKEY_LOCAL_MACHINE\SOFTWARE\TortoiseOverlays\Normal]
"SVN"="{30351346-7B7D-4FCC-81B4-1E394CA267EB}"

[HKEY_LOCAL_MACHINE\SOFTWARE\TortoiseOverlays\ReadOnly]
"SVN"="{3035134B-7B7D-4FCC-81B4-1E394CA267EB}"

[HKEY_LOCAL_MACHINE\SOFTWARE\TortoiseOverlays\Unversioned]
"SVN"="{30351350-7B7D-4FCC-81B4-1E394CA267EB}"

[HKEY_LOCAL_MACHINE\SOFTWARE\TortoiseSVN]
"ProcPath"="%TSVNHOME%\\bin\\TortoiseProc.exe"
"CachePath"="%TSVNHOME%\\bin\\TSVNCache.exe"
"TMergePath"="%TSVNHOME%\\bin\\TortoiseMerge.exe"
"Directory"="%TSVNHOME%\\"
